*  {
	box-sizing: border-box
}
@import 'core/settings';

body {
	margin: 0px;
	background-color: $colorlight;
	color: $colordark;
	font-size: 16px;
	font-family: $fontregular;
	font-weight: $fontweightregular;
	min-height: 100vh;
	width: 100%;
}

@import 'layout/header';
@import 'layout/main1';
@import 'layout/main2';
@import 'layout/footer';

