<header class="header">
    <div class="menu__button">
        <a class="link" href="">
            <img src="assets/images/ico-menu.svg" alt="Menu of the page">
        </a>
    </div>
    <div class="header__text">
        <h1 class="main__title">Anonymous Proxy</h1>
        <h2 class="claim">In hac habitasse platea dictumst.</h2>

        <div class="circle__buttom"><a class="link" href=""> <img src="assets/images/ico-scroll-down.svg" alt="Arrow to scroll down"></a>
        </div>
    </div>
</header>