.link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menu button*/

.menu__button {
    background-color: $colormenu;
    height: 44px;
    width: 44px;
    position: fixed;
    top: 0px;
    left: 0px;
    &:hover {
        background-color: $colorbutton;
        height: 60px;
        width: 60px;
    }
}

/*Circle button*/

.circle__buttom {
    border-radius: 100px;
    height: 45px;
    width: 45px;
    background-color: $colorlight;
    margin: 45px auto;
    border: solid 1px $colorlight2;
}

.arrow {
    animation: 0.6s bigAndSmall ease infinite alternate;
}

@-webkit-keyframes bigAndSmall {
    0% {
        height: 18px;
        width: 18px;
    }
    25% {
        height: 21px;
        width: 21px;
    }
    50% {
        height: 24px;
        width: 24px;
    }
    75% {
        height: 27px;
        width: 27px;
    }
    100% {
        height: 30px;
        width: 30px;
    }
}

.scroll-up {
    margin: 0px;
    margin-top: -22px;
}

/*Go button*/

.button__go {
    height: 45px;
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px $colorbutton;
    border-radius: 50px;
    transition: border ease 1s;
    &:hover {
        border: solid 7px $colorfooter;
    }
}

.text__go {
    font-size: 20px;
    color: $colorbutton;
    margin: 0px;
    font-family: $fontregular;
    font-weight: $fontweightmedium;
}

/*Button reasons*/

.button__reasons {
    height: 45px;
    width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorbutton;
    border-radius: 50px;
    margin: 0 auto;
    transition: background-color ease 1s;
    &:hover {
        background-color: $colorfooter;
        width: 200px;
        height: 50px;
    }
}

.text__reasons {
    margin: 0;
    color: $colorlight;
    font-size: 20px;
    font-family: $fontregular;
    font-weight: $fontweightmedium;
}

/*Tablet*/

@media all and (min-width:768px) {
    .circle__buttom {
        margin-top: 30px;
    }
    .button__go {
        width: 91px;
    }
    .scroll-up {
        margin-top: -22px;
    }
}

/*Laptop*/

@media all and (min-width:1280px) {
    .circle__buttom {
        margin-bottom: 13px;
    }
    .button__go {
        width: 160px;
    }
}