.footer {
    background-color: $colorfooter;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 128px;
}

.text__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year {
    font-size: 14px;
    color: $colorlight;
    text-align: center;
    margin: 20px 0px;
}

.love {
    font-size: 14px;
    color: $colorlight;
    text-align: center;
    margin: 0px;
}

.heart {
    color: $colorbutton;
    font-size: inherit;
}