.section1 {
    background-color: $colorlight;
}

.container__section1 {
    margin: 30px 15px 45px 15px;
    max-width: 730px;
}

.tips {
    color: $colorlight3;
    font-size: 14px;
    font-family: $fontregular;
    font-weight: $fontweightregular;
}

.title__window {
    font-size: 24px;
    font-family: $fontprincipal;
}

.text__section1 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: $fontregular;
    color: $colormedium;
}

/*Tablet*/

@media all and (min-width:768px) {
    .container__section1 {
        padding: 39px 0 60px 0;
        margin: 0 auto;
        max-width: 690px;
    }
    .tips {
        font-size: 14px;
    }
    
    .title__window {
        font-size: 26px;
    }
    
    .text__section1 {
        font-size: 20px;
    }
}

/*Laptop*/

@media all and (min-width:1280px) {
    .container__section1{
        padding: 60px 0;
        margin: 0 auto;
        max-width: 730px;
    }
    .tips {
        font-size: 16px;
    }
    .title__window {
        font-size: 32px;
    }
}