$colordark:#000000;
$colormedium: #4a4a4a;
$colorlight: white;
$colorfooter:#304268;
$colorbutton:#f26002;

$fontprincipal: 'Roboto Slab', serif; 
$fontregular: 'Roboto', sans-serif;
$fontmedium: 'Roboto', sans-serif;

$weightregular: 400px;
$weightmedium: 500px;
$weightbold: 700px;

