$colordark: #000000;
$colormedium: #4a4a4a;
$colorlight: white;
$colorfooter: #304268;
$colorbutton: #f26002;
$colormenu: #0271bc;
$colorlight2: #eff9ff;
$colorlight3: #8ccbea;

$fontprincipal: 'Roboto Slab', serif; 
$fontregular: 'Roboto', sans-serif;

$fontweightregular: 400;
$fontweightmedium: 500;
$fontweightbold: 700;

